body {
	background: #eef;
	font-family: Arial
}

.card {
	width: 350px;
	margin: 40px auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px gray;
	background: white;
}

input, select, button {
	width: 100%;
	padding: 10px;
	margin: 8px 0;
}

button {
	background: #28a745;
	color: white;
	border: none
}

.nav a {
	margin: 10px;
	font-weight: bold;
	text-decoration: none
}